/**Partials & Mixins**/
@use './partials/fonts';
@use './partials/colors';

@mixin hero__overlay($overcolor) {
    background-color: $overcolor;
    opacity: 50%;
    z-index: 0;
}
@mixin mobile {
    @media screen {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: $tabletBreakpoint) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $desktopBreakpoint) {
        @content;
    }
}

/** Variables**/

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;

/**Element Modifiers**/
    /**Font Rules**/
html {
    font-family: 'AvenirNext';
}
h1 {
    @include mobile {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
    @include tablet {
        font-size: 60px;
        line-height: 68px;
        margin-left: 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
h2 {
    @include mobile {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin: 24px 0 16px 0;
    }
    @include tablet {
        font-size: 36px;
        line-height: 44px;
        margin: 48px 0 36px 0;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
}
h3 {
    @include mobile {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    }
    @include tablet {
    font-size: 24px;
    line-height: 32px;
    margin: 48px 36px 16px 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
}
p {
    @include mobile {
    font-size: 13px;
    line-height: 18px;
    }
    @include tablet {
    font-size: 14px;
    line-height: 22px;
    }
}

footer {
    background-color: colors.$BandSite-Black;
    color: colors.$White;
    padding: 16px;

    @include tablet {
        padding: 0 36px 36px 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
img {
    max-width: 100%;
    box-sizing: border-box;
}

/**Class Modifiers**/
.header__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 16px;
    background-color: colors.$BandSite-Black;
    
    @include tablet {
        justify-content: flex-start;
        height: 20%;
    }
}
.nav__title {
    width: 100%;
    text-align: center;

    @include tablet {
        width: fit-content;
        font-size: 24;
        margin: 16px 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.nav__link {
    color: colors.$White;
    text-decoration: none;
}
.nav__item {
    color: colors.$Alabaster;
    text-align: center;
    width: 50%;
    
    &--active {
        color: colors.$White;
        font-weight: bold;
        padding-bottom: 16px;
        border-bottom: 4px solid colors.$White;
    }
    @include tablet {
        width: fit-content;
        padding: 36px 0;
        margin: 0 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.hero {
    @include hero__overlay(colors.$BandSite-Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../Assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
}
.hero__title {
    color: colors.$White;
    z-index: 2;
    margin-left: 16px;

    @include tablet {
        margin-left: 36px;
    }
    @include desktop {
        margin-left: 10%;
    }
}
.about, .gallery {
    padding: 0 16px;

    @include tablet {
        padding: 0 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.about__title {
    margin-left: 16px;

    @include tablet {
        margin-left: 36px;
    }
    @include desktop {
        margin-left: 10%;
    }
}
.about__headliner {

    @include tablet {
        padding: 0 36px;
    }
}
.about__quote {
    font-weight: bold;
}
.about__bio {

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        padding: 0 36px;
    }
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.bio__title {
    width: 100%;
}
.bio__text {

    @include tablet {
        width: 50%;
    }
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: colors.$Alabaster;
    padding-top: 16px;
}
.gallery__title {
    width: 100%;
}

.gallery__img {
    margin-bottom: 16px;

    @include tablet {
        width: 30%;
    }
}
    /**Footer**/
.footer__flextitle {
    @include tablet {
        display: flex;
        align-items: center;
    }
}
.social__box {
    display: flex;

    @include tablet {
        align-items: flex-end;
        padding: 0 36px;
    }
}
.footer__icon {
    margin-right: 32px;
}
.footer__flexinfo {
    
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}
.footer__rep {
    font-weight: bold;
}